@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("./times.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container h1{
    font-size: 2rem;
    color: #000;
    background-color: rgba(138,255,241);
    padding: 25px 30px;
    margin-bottom: 20px;
    font-family: "Poppins";
}
.container #clock{
    background-color: black;
    width:30vw;
   text-align: center;
}
.container #clock span{
    color: white;
    font-size: 4rem;
    font-family: "Poppins";
    margin-left: 5px;


}
@media(max-width:990px){
    .container #clock span {
        font-size: 2rem;
    }
}
@media(max-width:405px){
    .container #clock span {
        font-size: 1.5rem;
    }
}